body{
    background: rgb(102, 102, 105);
}

#gridContainer{
   display: flex;
   flex-wrap: wrap;
   /* max-width: 515px; */
   border: 5px solid black;
   /* padding: 5px;
   margin: 10px; */
   
}

.grid-item{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    
}